<!doctype html>
<title>{% block title %}{% endblock %} - Flaskr</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<nav>
  <h1>Flask</h1>
  <ul>
    {% if session['_user_id'] %}
      <li><a href="{{ url_for('auth_bp.profile') }}">Info</a>
      <li><a href="{{ url_for('auth_bp.logout') }}">Log out</a>
    {% else %}
      <li><a href="{{ url_for('auth_bp.signup') }}">Sign Up</a>
      <li><a href="{{ url_for('auth_bp.login') }}">Log In</a>
    {% endif %}
  </ul>
</nav>
<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block content %}{% endblock %}
</section>
