<h3 class="title">Изменение данных</h3>
    <div class="card">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="card-body">
                {{ messages[0] }}.
            </div>
        {% endif %}
        {% endwith %}
        <form method="POST" action="/profile/change/">
            {{ form.csrf_token }}
                <div class="control">
                    {{ form.new_email(placeholder="Новый Электронный адрес", class="form-control", type="email", autofocus="", required="") }}
                </div>
            </div>
                <div class="control">
                    {{ form.new_name(placeholder="Новое имя", class="form-control", type="text", autofocus="", required="", pattern="[A-Za-z]+") }}
                </div>
            </div>
                <div class="control">
                    {{ form.password(placeholder="Старый пароль", class="form-control", type="password", required="", pattern="[0-9a-zA-Z]+") }}
                </div>
            </div>
                <div class="control">
                    {{ form.new_password(placeholder="Новый пароль", class="form-control", type="password", required="", pattern="[0-9a-zA-Z]+") }}
                </div>
            </div>
            {{ form.submit(class="btn btn-primary") }}
        </form>
    </div>
