<h3 class="title">Вход</h3>
    <div class="card">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="card-body">
                {{ messages[0] }}
            </div>
        {% endif %}
        {% endwith %}
        <form method="POST" action="/login/">
            <div class="mb-3">
                {{ form.csrf_token }}
                {% if form.email.errors %}
                    <ul>
                        {% for error in form.email.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
                <div class="control">
                    {{ form.email(placeholder="Электронный адрес", class="form-control", type="email", autofocus="", required="") }}
                </div>
            </div>

            <div class="mb-3">
                {% if form.password.errors %}
                    <ul>
                        {% for error in form.password.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
                <div class="control">
                    {{ form.password(placeholder="Пароль", class="form-control", type="password", required="", pattern="[0-9a-zA-Z]+") }}
                </div>
            </div>
            <div class="mb-3">
                {{ form.remember_me(class="checkbox", type="checkbox") }} Запомнить меня
            </div>
                {{ form.submit(class="btn btn-primary") }}
        </form>
    </div>
