<h3 class="title">Регистрация</h3>
        <form method="POST" action="/signup">
            <div class="mb-3">
                {{ form.csrf_token }}
                {% if form.email.errors %}
                    <ul>
                        {% for error in form.email.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
                <div class="control">
                    {{ form.email(placeholder="Электронный адрес", class="form-control", type="email", autofocus="", required="") }}
                </div>
            </div>
            <div class="mb-3">
                {% if form.name.errors %}
                    <ul>
                        {% for error in form.name.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
                <div class="control">
                    {{ form.name(placeholder="Имя", class="form-control", type="text", autofocus="", required="", pattern="[A-Za-z]+") }}
                </div>
            </div>
            <div class="mb-3">
                {% if form.password.errors %}
                    <ul>
                        {% for error in form.password.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
                <div class="control">
                    {{ form.password(placeholder="Пароль", class="form-control", type="password", required="", pattern="[0-9a-zA-Z]+") }}
                </div>
            </div>
            {{ form.submit(class="btn btn-primary") }}
        </form>
    </div>
